<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/horde.css?v={{VERSION}}">
	<title>Onslaught! Arena</title>
</head>
<body class="{{TYPE}}">

	<div class="hidden">
		<h1>Onslaught!!!</h1>
		
	</div>

	<div class="nav">
		
	</div>

	{{AD_LEADERBOARD}}

	<div id="stage">
		<div id="tip">
			<div id="tip_message">
				
			</div>
		</div>
	</div>

	<script>
	
	(function () {
		{{GAME_CODE}}
	}());
	</script>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-16927444-5']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

</body>
</html>
